*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: none;
}

img {
    max-width: 320px;
}

 h1 span
{
    color: green;
}