*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding:6rem;
}

body
{
    background: white;
}

section
{
    padding: 2rem 9%;
}

.heading
{
    text-align: center;
    padding: 2rem 9%;
    padding-bottom: 3rem;
    font-size: 3.5rem;
}
.heading span
{
    background: green;
    color: white;
    display: inline-block;
}


.btn
{
    border: .2rem solid black;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    color: black;
    cursor: pointer;
    background: none;
}

.header
{
    border: 0px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 9%;
    background-color: white;
    box-shadow: 0 .1rem 1rem rgb(157, 154, 154);

}

.header .logo
{
    font-size: 40px;
    font-weight: bolder;
}

.header .navigation a
{
    font-size: 12px;
    margin: 4px;
    color:#130f13;
}

.header .icons div
{
    border: 0px solid;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 2px;
    background-color: #d0cccc;
    color: #130f13;
    font-size: 12px;
    margin-right: 2px;
    text-align: center;
    cursor: pointer;
}

.header .search-form
{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: 2rem;
    width: 35rem;
    height: 3rem;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 .1rem 1rem rgba(0,0,0.1);
}

.header .search-form.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: #130f13;
    padding: 0 1.5rem;
}

.header .search-form label
{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: #130f13;
    cursor: pointer;
}

.header .shopping
{
    border: 1px solid;
    position: absolute;
    top: 110%;
    right:-110%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem 1rem rgb(157, 154, 154);
    width: 30rem;
    background: white;
}

.header .shopping .active
{
    right:2rem;
    transition: .4s linear;
}

.header .shopping .box
{
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping .box img
{
    height: 10rem;
}

.header .shopping .box .fa-trash
{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right:2rem;
    cursor: pointer;
    color: #666;
    transform: translateY(-40%);
}

.header .shopping .box .content h3
{
    color: black;
    font-size: 1.5rem;
    padding-bottom: 1rem;

}

.header .shopping .box .content span
{
    color: #666;
    font-size: 1.3rem;    
}

.header .shopping .box .content .quantity
{
    padding-left: 1rem;

}

.header .shopping .total
{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color:#130f13;
}

.header .shopping .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.home 
{
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(./images/banner-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home  .content
{
    text-align: center;
    border: 0px solid;
    width: 60rem;

}

.home  .content h3
{
    color: #130f13;
    font-size: 3rem;
}

.home  .content h3 span
{
    color: green;
}

.home  .content p
{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.features .box-container
{
    border:0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem ,1fr));
    gap: 1.5rem;
}


.features .box-container .box
{
    border: 0px solid red;
    padding: 3rem 2rem;
    background: #fff;
    outline: .1rem solid rgba(0,0,0.1);
    outline-offset: -1rem;
    text-align: center;
    box-shadow:  0 .5rem 1.5rem rgba(0,0,0.1);
}



.features .box-container .box:hover
{
    box-shadow: 1px 1px 1px 1px solid green;
}


.features .box-container .box img
{
    margin: 1rem;
    height: 15rem;
}


.features .box-container .box h3
{
    font-size: 2rem; 
    line-height: 1.8;
    color:#130f13;
}

.features .box-container .box p
{
    font-size: 1.3rem; 
    line-height: 1.8;
    color:#666;
}


.products .product-slider
{
    border: 0px solid;
    padding: 1rem;
}

.products .product-slider:first-child
{
    margin-bottom: 2rem;
}

.products .product-slider .box
{
    border: 0px solid red;
    background: white;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: .1rem solid rgba(0,0,0.1);
    box-shadow:  0 .5rem 1.5rem rgba(0,0,0.1);   
    transition: .2s linear;
}


.products .product-slider .box:hover
{
    box-shadow: 1px 1px 1px 1px solid green;
}


.products .product-slider .box img
{
    height: 20rem;
}


.products .product-slider .box h1
{
    font-size: 2.5rem;
    color: black;
}

.products .product-slider .box .price
{
    font-size: 1.5rem;
    color: #666;
    padding: .5rem 0;
}


.products .product-slider .box .star i
{
    font-size: 1.2rem;
    color: orange;
    padding: .5rem 0;
}


.Categories .box-container
{
    border:0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem ,1fr));
    gap: 1.5rem;
}


.Categories .box-container .box
{
    padding: 3rem 0;
    border-radius: .5rem;
    background: white;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0.1);
    outline: .1rem solid rgba(0,0,0.1);
    outline-offset: -1rem;
    text-align: center;
}


.Categories .box-container .box img
{
    margin: 1rem 0;
    height: 10rem;
}

.Categories .box-container .box h3
{
    font-size: 2rem;
    color: black;
    line-height: 1.8;
}


.Categories .box-container .box p
{
    font-size: 1.3rem;
    color: #666;
    line-height: 1.8;
    padding: 1rem 0;
}


.footer
{
    background: white;
}

.footer .box-container
{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3
{
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
}

.footer .box-container .box h3 i
{
    color: rgb(8, 167, 8);
}


.footer .box-container .box a
{
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box .link i
{
    color: green;
    padding: .5rem;
}

.footer .box-container .box p
{
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box .link:hover i
{
    padding: 2rem;
}

.footer .box-container .box .share a
{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: black;
    margin-left: .2rem;
    background: #666;
    text-align: center;
}


.footer .box-container .box .email
{
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: white;
    font-size: 1.3rem;
    color: #666;
    text-transform: none;
}

.footer .box-container .box .payment
{
    margin-top: 2rem;
    height: 3rem;
}


.footer .creadit
{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: black;
    border-top: 1rem solid rgb(95, 95, 95);
}

.footer .creadit span
{
    color: green;
}



/* media queires */
@media (max-width : 991px)
{
    html 
    {
        font-size: 62.5;
    }
}